html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(119, 119, 119), rgb(54, 54, 54));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: rgb(119, 119, 119, .5);
    display: flexbox;
    margin: 0;
    padding: 20px;
}

.projectsMenuContainer{
    float: left;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin:0;
}

li{
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(214, 214, 214);
}

li:hover{
background-color: rgba(1, 235, 52, .5);
}

.main:hover{
    background-color: rgba(206, 0, 0, 0.5);
}

.activeMenuElement{
    color: black;
    background-color: rgb(214, 214, 214);
}

.close{
    display: none;
}

h2 {
    color: rgb(187, 204, 255);
}