html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(119, 119, 119), rgb(54, 54, 54));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: rgb(119, 119, 119, .5);
    display: flexbox;
    margin: 0;
    padding: 20px;
}

.projectsButtonsContainer{
    float: left;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin:0;
}

li{
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(214, 214, 214);
}

li:hover{
background-color: rgba(1, 235, 52, .5);
}

.main:hover{
    background-color: rgba(206, 0, 0, 0.5);
}

.close{
    display: none;
}

/* PROJECT 1 - CALCULATOR */
h2 {
    color: rgb(187, 204, 255);
}

.calculator {
    /* margin: 50px; */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculatorHeader {
    grid-column: 1 / -1;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.score {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255, .8);
}

.operation {
    font-size: 30px;
    font-weight: 500;
}

button {
    cursor: pointer;
    border: 1px solid rgb(80, 80, 80);
    background: rgb(54, 54, 54);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

button:hover,
button:focus {
    background: rgb(54, 54, 54, .9);
}

.row-two {
    grid-row: span 2;
}

.col-two {
    grid-column: span 2;
}